@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 210 8% 5%;

    --card: 0 0% 98%;
    --card-foreground: 210 8% 5%;

    --popover: 0 0% 98%;
    --popover-foreground: 210 8% 5%;

    --primary: 206 75% 38%;
    --primary-foreground: 0 0% 98%;

    --secondary: 210 7% 94%;
    --secondary-foreground: 210 8% 5%;

    --muted: 210 7% 94%;
    --muted-foreground: 206 6% 45%;

    --accent: 210 7% 94%;
    --accent-foreground: 210 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 200 6% 90%;
    --input: 204 6% 83%;
    --ring: 207 24% 75%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 3% 6%;
    --foreground: 0 0% 98%;

    --card: 210 6% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 210 6% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 206 75% 38%;
    --primary-foreground: 0 0% 98%;

    --secondary: 210 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 210 5% 22%;
    --muted-foreground: 205 5% 49%;

    --accent: 205 45% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 200 5% 12%;
    --input: 210 4% 18%;
    --ring: 206 75% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
